<h3><%= I18n.t('admin.actions.manage_states.moderate', shop_name: @object.name) %> </h3>

<%= form_for @object, url: manage_states_path(@abstract_model, @object.id), as: @abstract_model.param_key, html: {method: 'post'} do |form| %>

    <div class="btn-group" data-toggle="buttons">

      <% @object.state_events.each do |event| %>
          <label class="btn bnt-lg btn-default">
            <%= form.radio_button :state_events, event, autocomplete: 'off' %> <%= I18n.t("state_machines.events.#{event.mb_chars.downcase}")%>
          </label>

    <% end %>


    </div>

    <br/>

    <hr/>

    <%= form.submit I18n.t('admin.actions.manage_states.change'), class: 'btn btn-lg btn-primary'  %>
<% end %>

